body {
  background: url(./white-background.png);
}
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-base {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}
.text-lg {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}
.text-xl {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}
.text-2xl {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}
.text-3xl {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}
.text-4xl {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
}
.text-5xl {
  font-size: 3rem; /* 48px */
  line-height: 1;
}
.text-6xl {
  font-size: 3.75rem; /* 60px */
  line-height: 1;
}
.text-7xl {
  font-size: 4.5rem; /* 72px */
  line-height: 1;
}
.text-8xl {
  font-size: 6rem; /* 96px */
  line-height: 1;
}
.text-9xl {
  font-size: 8rem; /* 128px */
  line-height: 1;
}
.text-left {
  text-align: left;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.reveal {
    font-family: 'Roboto', sans-serif;
}

.reveal .text-white h2 {
  color: white;
}
.reveal .text-white h1 {
  color: white;
}
.reveal section .text-white {
  color: white;
}
.reveal .slide-number {
  position: absolute;
  margin: 1vh 47.25vw;
  transform: translateX(0%);
  /* position: absolute;
  bottom: 8px;
  right: 800px; */
  font-size: 24pt;
  color: #7e7e7e;
  /* align-self: center; */
  /* vertical-align: bottom; */
  background-color: rgba(85, 85, 85, 0);
}

.reveal .slides section h1,
.reveal .slides section h2,
.reveal .slides section h3,
.reveal .slides section h4,
.reveal .slides section h5,
.reveal .slides section h6 {
    text-transform: none !important;
}

/* Customizing fragment appearance */
.reveal .fragment {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.reveal .fragment.visible {
  opacity: 1;
}

.decent, .decent * {     color: #33291fa0; }
.decent A { text-decoration: underline; }

/* ------------------------------------------------------------*/
.col2 {
  width:48% !important;
  margin: 0 1% !important;
  float:left;
}
/* Aufzählung nicht zentrieren im 2col layout.*/
.reveal .col2 ol, .reveal .col2  dl, .reveal .col2  ul {
    display:table;
}